@import "../../ui/styles/media-queries";

.page-content {
  max-width: 1166px;
  min-height: calc(calc(100 * var(--vh)) - 208px);

  margin: 40px auto;
}

@include for-small-screens {
  .page-content {
    height: 100%;

    padding: 0 24px;
  }
}
