.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;

  padding: 0 24px;

  border-bottom: 1px solid #f3f3f7;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: "Tilt Neon", cursive;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  svg {
    width: 32px;
    height: 32px;
  }
}
