.header {
  height: 64px;

  border-bottom: 1px solid #f3f3f7;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1204px;
  height: 100%;

  margin: 0 auto;
  padding: 0 24px;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: "Tilt Warp", cursive;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;

  svg {
    width: 32px;
    height: 32px;
  }
}
